<mat-card>

  <!--O que é o Angular Async Pipe? O Angular async pipe serve para fazer a saída de um valor na página, mesmo que o valor demore um pouco a ser atribuído na variável. Então o async é muito útil quando você precisa fazer chamadas ao servidor e vai demorar alguns segundos para retornar o valor. courses | async-->
  <mat-toolbar color="primary">
    <span>Cursos Disponíveis</span>
  </mat-toolbar>

  <div *ngIf="courses$ | async as courses; else loading ">
  <!--datasource : pode ser dois tipos de informações ou um array/lista ou um Observable  -->
  <table mat-table [dataSource]="courses" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let course"> {{ course._id }} </td>
    </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome Curso </th>
      <td mat-cell *matCellDef="let course"> {{ course.name }} </td>
    </ng-container>


    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let course"> {{course.category}}
        <mat-icon aria-hidden="false" aria-label="Categoria do Curso" >{{ course.category | category }}</mat-icon>

      </td>
    </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="actions">
        <!--forma diferente de customizar a coluna-->
       <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="accent" aria-label="Adicionar um Curso">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
       </mat-header-cell>

       <mat-cell *matCellDef="let course ">
       <button mat-icon-button color="primary" aria-label="Editar Curso">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover Curso">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
      </ng-container>



    <!--especificar as colunas que vou mostrar nas tabelas-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!--para cada linha para cada registro nós vamos mostrar essas colunas que
    foram declaradas na variavel  displayedColumns-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #loading>
  <div class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
</ng-template>

</mat-card>
